<div class="row">
    <div class="flex-container">
        <div class="col-sm-3">
            <div class="container">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="assets/news.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Top Stories</h4>
                        <p class="card-text">Get Articles Currently on a section front or a home page</p>
                        <a href="#" class="btn btn-primary stretched-link" (click)="getStoriesData()">See Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>